.advice {
  width: 300px;
  height: 400px;

  padding: 35px 15px 45px 50px;
  border-top: 6px solid #515076;

  background: #f7f7fa;

  &__label {
    color: #a5a3b9;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    font-family: Montserrat, serif;
    line-height: 24px;
    letter-spacing: 0.23em;
    text-transform: uppercase;
  }

  &__title {
    margin-top: 12px;

    color: #515076;
    font-weight: normal;
    font-style: normal;
    font-size: large;
    font-family: Montserrat, serif;
    line-height: 27px;
  }

  &__text {
    margin-top: 30px;

    color: #888794;
    font-weight: normal;
    font-style: normal;
    font-size: medium;
    font-family: Montserrat, serif;
    line-height: 25px;
  }

  &__footer {
    position: relative;
    margin-top: 85px;

    color: #515076;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    font-family: Montserrat, serif;
    line-height: 24px;
    letter-spacing: 0.23em;
    text-transform: uppercase;

    &::before {
      content: '';
      position: absolute;
      top: 10px;
      left: -34px;

      width: 25px;
      height: 1px;

      background: #515076;
    }
  }
}
