.authors {
  position: relative;

  display: flex;
  align-items: flex-end;
  margin-top: 144px;

  &__title {
    margin-bottom: 55px;

    color: #757aa5;
    font-weight: 200;
    font-style: normal;
    font-size: xxx-large;
    font-family: Montserrat, serif;
    line-height: 109.4%;
  }

  &__name {
    color: #515076;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    font-family: Montserrat, serif;
    line-height: 199.99%;
  }

  &__description {
    margin-top: 30px;
    margin-right: 121px;

    color: #888794;
    font-weight: 500;
    font-style: normal;
    font-size: medium;
    font-family: Montserrat, serif;
    line-height: 180%;
  }

  &__quote {
    display: flex;

    margin-top: 40px;
    padding-right: 12.7vw;

    color: #888794;
    font-weight: 600;
    font-style: normal;
    font-size: medium;
    font-family: Montserrat, serif;
    line-height: 160%;
    quotes: '“' '“';

    &::before {
      content: open-quote;

      margin-right: 2.7vw;

      color: #77877f;
      font-weight: bold;
      font-style: normal;
      font-size: xx-large;
      font-family: Circe, serif;
      line-height: 54px;
    }
  }

  &__mini-images {
    display: flex;
    justify-content: space-between;

    margin-top: 64px;
    padding-right: 12.7vw;
  }

  &__mini-image {
    filter: drop-shadow(0 -6px 0 #515076);

    &[aria-disabled='true'] {
      opacity: 0.5;
    }
  }

  &__main-image {
    width: 40vw;
    padding-right: 5rem;
  }

  &__bush {
    position: absolute;
    top: 0;
    left: 30%;
    z-index: -1;
    width: 26vw;
  }
}
