.offers {
  margin-top: 510px;

  &__choose {
    color: #757aa5;
    font-weight: 200;
    font-size: 70px;
    font-family: Montserrat, serif;
    line-height: 109.4%;
    text-align: center;
  }

  &__cards {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    width: 1098px;
    margin: 80px auto 0;
  }
}
