.product-card {
  $root: &;

  position: relative;
  display: flex;
  flex-direction: column;

  width: 22vmax;
  height: 100%;
  padding: 62px 10px 49px;

  background: #f7f7fa;

  &_big {
    width: 24vmax;
    height: 100%;
    padding-top: 69px;

    #{ $root }__price {
      font-size: large;
    }
  }

  &__description {
    flex: 1;
    margin: 18px 18px 0;
  }

  &__type {
    color: #a5a3b9;
    font-weight: 500;
    font-size: small;
    font-family: Montserrat, serif;
    line-height: 1.3;
    letter-spacing: 0.23em;
    text-transform: uppercase;
  }

  &__name {
    margin-top: 9px;

    color: #515076;
    font-size: large;
    font-family: Montserrat, serif;
    line-height: 1.3;
  }

  &__price {
    color: #515076;
    font-weight: 500;
    font-size: larger;
    font-family: Montserrat, serif;
    line-height: 1.3;
  }

  &__old-price {
    margin-right: 15px;

    color: rgba(81, 80, 118, 0.6);
    font-weight: 500;
    font-size: small;
    font-family: Montserrat, serif;
    line-height: 135.99%;
    text-decoration-line: line-through;
  }

  &__discount {
    position: absolute;
    top: 20px;
    left: 20px;
  }

  &__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 18px;
  }
}
