.promo {
  position: relative;

  width: 100%;
  max-width: 800px;
  height: 100%;

  margin-left: 5rem;

  padding: 3.5vmin 0 3.5vmin 3.6vmin;

  background: #f7f7fa;
  box-shadow: -40px 40px 0 #515076;

  &::before {
    content: 'для нормальной кожи';
    position: absolute;
    bottom: 6px;
    left: -6px;
    color: #fff;
    font-weight: 500;
    font-style: normal;
    font-size: small;
    font-family: Montserrat, serif;
    line-height: 26px;
    letter-spacing: 0.17em;
    text-align: right;
    text-transform: uppercase;
    transform: rotate(-90deg);
    transform-origin: left bottom;
    will-change: transform;
  }

  &__num {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 62px;
    height: 62px;

    margin-bottom: 28px;

    border-radius: 50%;
    background: #edecf7;

    color: #515076;
    font-size: large;
    font-family: Montserrat, serif;
    line-height: 1.3;
    font-feature-settings: 'pnum' on, 'onum' on;
  }

  &__title {
    width: 22vw;
    margin-bottom: 40px;
    padding-right: 10px;

    color: #4c5072;
    font-weight: 300;
    font-size: 2vmin;
    font-family: Montserrat, serif;
    line-height: 1.3;
  }

  &__description {
    width: 28vw;
    padding-right: 30px;
    color: #888794;
    font-weight: 500;
    font-size: medium;
    font-family: Montserrat, serif;
    line-height: 1.2;
  }

  &__image {
    float: right;
  }
}
