.promo-product {
  display: flex;
  flex-direction: column;
  width: 27vw;

  background: #f7f7fa;

  color: #515076;
  font-weight: normal;
  font-style: normal;
  font-size: large;
  font-family: Montserrat, serif;
  line-height: 24px;

  &__discount {
    display: flex;
    align-items: center;
    justify-content: center;

    color: #515076;
    font-size: 2.3vmin;
    font-family: Montserrat, serif;
    line-height: 49px;
  }

  &_small &__discount {
    height: 6.5vmin;
    margin-bottom: 7px;

    background: rgba(81, 80, 118, 0.1);
    font-weight: normal;
  }

  &_medium &__discount {
    height: 9.7vmin;
    margin-bottom: 57px;

    background: rgba(81, 80, 118, 0.15);
    font-weight: 500;
  }

  &_big &__discount {
    height: 13vmin;
    margin-bottom: 107px;

    background: rgba(81, 80, 118, 0.2);
    font-weight: 600;
  }

  &__description {
    flex: 1;
    margin: 10px 20px 0;
  }

  &__footer {
    display: flex;
    justify-content: space-between;

    margin: 0 20px 35px;
  }

  &__price {
    color: #515076;
    font-weight: 500;
    font-size: larger;
    font-family: Montserrat, serif;
    line-height: 135.99%;
  }

  &__old-price {
    margin-right: 15px;

    color: rgba(81, 80, 118, 0.6);
    font-weight: 500;
    font-style: normal;
    font-size: small;
    font-family: Montserrat, serif;
    line-height: 24px;
    text-decoration-line: line-through;
  }
}
