@charset "UTF-8";
.about {
  color: #888794;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 170%;
}
.about__title {
  margin: 128px 0 0;
  color: #515076;
  font-size: 230px;
  font-family: Playfair Display, serif;
  line-height: 92.4%;
}
.about__description {
  display: grid;
  grid-template-columns: 387px 391px 400px;
  justify-content: space-between;
  margin-top: 60px;
}
.about__origins {
  margin-top: 34px;
  color: #63678c;
  font-size: 36px;
  font-family: Montserrat, serif;
  line-height: 132.67%;
}
.about__ingredients-control {
  margin-top: 659px;
}
.about__cosmetic {
  margin-top: 72px;
}
.about__button-choose {
  width: 270px;
  margin: 96px 0;
  padding: 27px;
  border-radius: 100px;
  background: #515076;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 600;
  font-size: 13px;
  font-family: Montserrat, serif;
  line-height: 16px;
  letter-spacing: 0.32em;
  text-align: center;
  text-transform: uppercase;
}
.about__remark {
  width: 172px;
  margin-left: auto;
  color: #888794;
  font-weight: 500;
  font-size: 16px;
  font-family: Work Sans, serif;
  line-height: 29px;
  letter-spacing: 0.3em;
  text-align: right;
  text-transform: uppercase;
}
.about__star {
  margin-top: 536px;
  font-weight: 300;
  font-size: 37px;
}
.about__natural-ingredients {
  margin-top: 96px;
  color: #757aa5;
  font-weight: 300;
  font-size: 36px;
  font-family: Montserrat, serif;
  line-height: 39px;
}
.about__translate {
  font-weight: 500;
}
.about__translate b {
  color: #8888a8;
  font-weight: bold;
}
.about__natural-force {
  margin-top: 32px;
}

.advice {
  width: 300px;
  height: 400px;
  padding: 36px 14px 47px 48px;
  border-top: 6px solid #515076;
  background: #f7f7fa;
}
.advice__label {
  color: #a5a3b9;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  font-family: Montserrat, serif;
  line-height: 24px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}
.advice__title {
  margin-top: 12px;
  color: #515076;
  font-weight: normal;
  font-style: normal;
  font-size: 20px;
  font-family: Montserrat, serif;
  line-height: 27px;
}
.advice__text {
  margin-top: 30px;
  color: #888794;
  font-weight: normal;
  font-style: normal;
  font-size: 14px;
  font-family: Montserrat, serif;
  line-height: 25px;
}
.advice__footer {
  position: relative;
  margin-top: 85px;
  color: #515076;
  font-weight: 500;
  font-style: normal;
  font-size: 12px;
  font-family: Montserrat, serif;
  line-height: 24px;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}
.advice__footer::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -34px;
  width: 25px;
  height: 1px;
  background: #515076;
}

.advices {
  margin-top: 125px;
}
.advices__title {
  color: #757aa5;
  font-weight: 200;
  font-style: normal;
  font-size: 70px;
  font-family: Montserrat, serif;
  line-height: 109.4%;
  text-align: center;
}
.advices__cards {
  display: grid;
  grid-template-areas: "A B D" "A C D";
  grid-gap: 30px;
  justify-content: center;
  width: 100%;
  margin-top: 87px;
}
.advices__cards > *:nth-child(1) {
  grid-area: A;
  margin-top: 210px;
}
.advices__cards > *:nth-child(2) {
  grid-area: B;
}
.advices__cards > *:nth-child(3) {
  grid-area: C;
}
.advices__cards > *:nth-child(4) {
  grid-area: D;
  margin-top: 119px;
}

.authors {
  display: flex;
  align-items: flex-end;
  margin-top: 144px;
}
.authors__title {
  margin-bottom: 55px;
  color: #757aa5;
  font-weight: 200;
  font-style: normal;
  font-size: 70px;
  font-family: Montserrat, serif;
  line-height: 109.4%;
}
.authors__name {
  color: #515076;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  font-family: Montserrat, serif;
  line-height: 199.99%;
}
.authors__description {
  margin-top: 30px;
  margin-right: 121px;
  color: #888794;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, serif;
  line-height: 180%;
}
.authors__quote {
  display: flex;
  margin-top: 40px;
  padding-right: 196px;
  color: #888794;
  font-weight: 600;
  font-style: normal;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 160%;
  quotes: "“" "“";
}
.authors__quote::before {
  content: open-quote;
  margin-right: 42px;
  color: #77877f;
  font-weight: bold;
  font-style: normal;
  font-size: 60px;
  font-family: Circe, serif;
  line-height: 54px;
}
.authors__mini-images {
  display: flex;
  justify-content: space-between;
  margin-top: 64px;
  padding-right: 196px;
}
.authors__mini-image {
  filter: drop-shadow(0 -6px 0 #515076);
}
.authors__mini-image[aria-disabled=true] {
  opacity: 0.5;
}

.footer {
  position: relative;
  z-index: -1;
  height: 874px;
  margin-top: 22px;
}
.footer__background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}
.footer__contacts {
  position: relative;
  top: 228px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 531px;
  height: 345px;
  padding: 50px 0 66px 87px;
  background: #f7f7fa;
  box-shadow: 0 -6px 0 #515076;
}
.footer__contacts__title {
  color: #757aa5;
  font-weight: 200;
  font-size: 70px;
  font-family: Montserrat, serif;
}
.footer__contacts__phone {
  color: #828282;
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat, serif;
}
.footer__contacts__address {
  color: #828282;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, serif;
}
.footer__contacts__instagram {
  margin-left: 25px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  background: #edecf7;
  color: #515076;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, serif;
}
.header__container {
  display: flex;
  align-items: center;
}
.header__navigation {
  display: flex;
  flex: 1;
  align-items: center;
}
.header__logo {
  width: 67px;
  height: 67px;
  margin-right: 80px;
}
.header__link {
  margin-right: 25px;
  padding: 25px 15px;
  opacity: 0.5;
  transition: all 150ms linear;
}
.header__link:hover {
  border-radius: 3px;
  background: rgba(81, 80, 118, 0.1);
  opacity: 1;
}
.header__cart {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  background-image: url("assets/basket.png");
  background-position: center;
  background-size: 20px 24px;
  background-repeat: no-repeat;
}
.header__cart::after {
  content: attr(data-cart-size);
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 21px;
  height: 21px;
  border-radius: 50%;
  background: #757aa5;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.header__social {
  display: flex;
  flex-direction: column;
}
.header__social-link {
  margin-left: 36px;
  font-weight: 500;
  font-size: 16px;
  line-height: 38px;
}

.layout {
  width: 1388px;
  margin-right: auto;
  margin-left: auto;
}

.offers {
  margin-top: 510px;
}
.offers__choose {
  color: #757aa5;
  font-weight: 200;
  font-size: 70px;
  font-family: Montserrat, serif;
  line-height: 109.4%;
  text-align: center;
}
.offers__cards {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 1098px;
  margin: 80px auto 0;
}

.pagination__button-prev {
  width: 74px;
  height: 74px;
  background: url("../public/assets/pagination-arrow.png");
  transform: scaleX(-1);
}
.pagination__button-prev:disabled {
  opacity: 0.5;
  cursor: initial;
}
.pagination__button-next {
  width: 74px;
  height: 74px;
  margin-left: 19px;
  background: url("../public/assets/pagination-arrow.png");
}
.pagination__button-next:disabled {
  opacity: 0.5;
  cursor: initial;
}

.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 329px;
  height: 521px;
  padding: 62px 20px 49px;
  background: #f7f7fa;
}
.product-card_big {
  width: 380px;
  height: 600px;
  padding-top: 69px;
}
.product-card_big .product-card__price {
  font-size: 24px;
}
.product-card__description {
  flex: 1;
  margin: 18px 18px 0;
}
.product-card__type {
  color: #a5a3b9;
  font-weight: 500;
  font-size: 12px;
  font-family: Montserrat, serif;
  line-height: 199.99%;
  letter-spacing: 0.23em;
  text-transform: uppercase;
}
.product-card__name {
  margin-top: 9px;
  color: #515076;
  font-size: 20px;
  font-family: Montserrat, serif;
  line-height: 135.99%;
}
.product-card__price {
  color: #515076;
  font-weight: 500;
  font-size: 20px;
  font-family: Montserrat, serif;
  line-height: 135.99%;
}
.product-card__old-price {
  margin-right: 15px;
  color: rgba(81, 80, 118, 0.6);
  font-weight: 500;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 135.99%;
  text-decoration-line: line-through;
}
.product-card__discount {
  position: absolute;
  top: 20px;
  left: 20px;
}
.product-card__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 18px;
}

.promo-product {
  display: flex;
  flex-direction: column;
  width: 350px;
  background: #f7f7fa;
  color: #515076;
  font-weight: normal;
  font-style: normal;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 24px;
}
.promo-product + .promo-product {
  margin-left: 35px;
}
.promo-product_small {
  height: 600px;
}
.promo-product_medium {
  height: 700px;
}
.promo-product_big {
  height: 800px;
}
.promo-product__discount {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #515076;
  font-size: 36px;
  font-family: Montserrat, serif;
  line-height: 49px;
}
.promo-product_small .promo-product__discount {
  height: 100px;
  margin-bottom: 7px;
  background: rgba(81, 80, 118, 0.1);
  font-weight: normal;
}
.promo-product_medium .promo-product__discount {
  height: 150px;
  margin-bottom: 57px;
  background: rgba(81, 80, 118, 0.15);
  font-weight: 500;
}
.promo-product_big .promo-product__discount {
  height: 200px;
  margin-bottom: 107px;
  background: rgba(81, 80, 118, 0.2);
  font-weight: 600;
}
.promo-product__description {
  flex: 1;
  margin: 10px 40px 0;
}
.promo-product__footer {
  display: flex;
  justify-content: space-between;
  margin: 0 40px 35px;
}
.promo-product__price {
  color: #515076;
  font-weight: 500;
  font-size: 20px;
  font-family: Montserrat, serif;
  line-height: 135.99%;
}
.promo-product__old-price {
  margin-right: 15px;
  color: rgba(81, 80, 118, 0.6);
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 24px;
  text-decoration-line: line-through;
}

.promo {
  position: relative;
  width: 800px;
  height: 521px;
  padding: 58px 0 58px 63px;
  background: #f7f7fa;
  box-shadow: -40px 40px 0 #515076;
}
.promo::before {
  content: "для нормальной кожи";
  position: absolute;
  bottom: 6px;
  left: -6px;
  color: #fff;
  font-weight: 500;
  font-style: normal;
  font-size: 13px;
  font-family: Montserrat, serif;
  line-height: 26px;
  letter-spacing: 0.17em;
  text-align: right;
  text-transform: uppercase;
  transform: rotate(-90deg);
  transform-origin: left bottom;
  will-change: transform;
}
.promo__num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 62px;
  height: 62px;
  margin-bottom: 28px;
  border-radius: 50%;
  background: #edecf7;
  color: #515076;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 109.4%;
  font-feature-settings: "pnum" on, "onum" on;
}
.promo__title {
  width: 337px;
  margin-bottom: 40px;
  color: #4c5072;
  font-weight: 300;
  font-size: 30px;
  font-family: Montserrat, serif;
  line-height: 130%;
}
.promo__description {
  width: 433px;
  color: #888794;
  font-weight: 500;
  font-size: 16px;
  font-family: Montserrat, serif;
  line-height: 199.99%;
}
.promo__image {
  float: right;
}

.promos {
  display: flex;
  flex-direction: column;
  margin-top: 180px;
}
.promos__carousel {
  display: flex;
  justify-content: space-between;
}
.promos__title {
  color: #757aa5;
  font-weight: 200;
  font-style: normal;
  font-size: 70px;
  font-family: Montserrat, serif;
  line-height: 109.4%;
}
.promos__text {
  width: 333px;
  margin: 100px 0 110px;
  color: #888794;
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
  font-family: Montserrat, serif;
  line-height: 199.99%;
}
.promos__products {
  display: flex;
  align-items: flex-end;
  align-self: center;
  margin-top: 270px;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  margin: 0;
  padding: 0;
  border: 0;
  background: none;
  color: inherit;
  cursor: pointer;
}
button:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0;
}

* {
  box-sizing: border-box;
}

.statistic {
  position: relative;
  margin-top: 131px;
}
.statistic__background {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 1023px;
  background: #edecf6;
}
.statistic__container {
  display: flex;
  margin-top: 30px;
}
.statistic__title {
  color: #d6d4e7;
  font-weight: normal;
  font-style: normal;
  font-size: 330px;
  font-family: Playfair Display, serif;
  line-height: 305px;
}
.statistic__label {
  margin-top: 101px;
  margin-bottom: 26px;
  color: #a5a3b9;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, serif;
  line-height: 29px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}
.statistic__count {
  color: #515076;
  font-weight: 300;
  font-style: normal;
  font-size: 120px;
  font-family: Montserrat, serif;
  line-height: 131px;
}
.statistic__women {
  margin-top: 42px;
  color: #515076;
  font-weight: 200;
  font-size: 70px;
  font-family: Montserrat, serif;
  line-height: 77px;
}
.statistic__description {
  margin-top: 61px;
  color: #888794;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  font-family: Montserrat, serif;
  line-height: 32px;
}
.statistic__image-wrapper {
  position: relative;
  z-index: -1;
  flex-shrink: 0;
  width: 899px;
  height: 890px;
}
.statistic__image {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/*# sourceMappingURL=style.css.map */
